<%= stylesheet_link_tag "home", media: "all" %>

<div class= "main">
  <h2>とっておきのマンガが見つかる！<br>
  あなただけのマンガ検索サイト<br></h2>
  <div class="introduction-container">
    <div class="introduction-item">
      <h2>①細かくジャンル別で絞込検索<br></h2>
      <p>「次読みたいマンガがみつからない！」人におすすめの機能。
        様々なジャンルから今あなたが読みたいものをご提案します。<br>
      <div class="direction">
        <h4>早速「次読むマンガ」を画面右部分から検索！→</h4>
      </div></p><br>
    </div>
    <div class="introduction-item">
      <h2>②年代別ランキングで人気マンガをチェック<br></h2>
        <div class="comic-image">
          <%= image_tag 'ONE PIECE.jpg', :width => 250 %>
        </div>
      <p>「今の流行りだけじゃなくて、ちょっと前の人気作も読んでみたい！」人におすすめの機能。
      『スラムダンク』や『デスノート』など、懐かしの名作も年代ごとの発行部数からランキング化！</p><br>
    </div>
    <div class="introduction-item">
      <h2>③読者のナマの声が<br></h2>
        <div class="comic-image">
          <%= image_tag 'ONE PIECE.jpg', :width => 250 %>
        </div>
      <p>「じゃあ、実際どうなん？」と読むのをためらったそこのアナタ。読者コメントから
      </p><br>
    </div>
    <div class="introduction-item">
      <h2>④どのアプリから読めるかも一目瞭然！<br></h2>
      <p>「どこで読めるの？」読む気になってくれたアナタに       
      漫画アプリを紹介。</P>
    </div>
  </div>
</div>