<h2>2001～2010年の発行部数ランキング</h2><ol>
  <% @ranking_tweets.each do |tweet| %>
    <li>
      <%= link_to tweet.title, tweet_path(tweet) %> - <%= tweet.circulationtotwentyten %> 部
    </li>
  <% end %>
</ol>