<h2>2016～2020年の発行部数ランキング</h2><ol>
  <% @ranking_tweets.each do |tweet| %>
    <li>
      <%= link_to tweet.title, tweet_path(tweet) %> - <%= tweet.circulationtotwentytwenty %> 部
    </li>
  <% end %>
</ol>