/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "./rankingtotal.scss";
 * {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  position: relative; 
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  display: flex;
  flex-direction: column;
}
header {
  padding: 0px 30px 5px 10px;
  background:linear-gradient(to bottom,#ea791c,#ea1c1c);
  width: 68%;
  height: 80px;
  position: static;
  font-weight: bold;
  font-family: "Bradley Hand", "Segoe Print", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: white; 
  text-decoration: none;
}
header h1 {
  color: white;
  margin-left: 20px;
}
.header-list {
  display: flex;
  align-items: center;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin-right: 40px;
}
header a:hover{
  color: rgb(140, 37, 0);
}

.menu {
z-index: 0;
display: flex;
flex-direction: column;
padding-left: 10px;
position: absolute;
top: 60px;
right: 30%;
background: rgb(255, 252, 214);
top: 0;
width: 30%;
height: 100%;
left: 70%;
}
.catch-copy {
padding-right:0px;
background:linear-gradient(to right, rgb(255, 252, 214),rgb(254, 106, 0), rgb(255, 89, 0), rgb(255, 51, 0));
color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
}

.main {
padding: 10px 10px 30px 5px;
width: 69%;
right: 30%;
background:linear-gradient(to bottom,#ffffff,hsl(23, 100%, 75%));
}
a{
color: rgb(127, 25, 0);
}
a:hover {
color: orangered;
}

footer {
z-index: 1;
color: white;
height: 30px;
background-color: #4e0000;
bottom: 0;
width: 100%;
display: flex;
align-items: center;
position: fixed;
justify-content: flex-end;
}