* {
    padding: 0;
    margin: 0;
  }
  body {
    min-height: 100vh;
    position: relative; 
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    display: flex;
    flex-direction: column;
  }
  header {
    padding: 0px 15px 0px 10px;
    background:linear-gradient(to bottom,#ea791c,#ea1c1c);
    height: 60px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    color: white; 
    text-decoration: none;
  }
  header h1 {
    color: white;
    margin-left: 20px;
  }
  .header-list {
    display: flex;
    align-items: center;
  }
  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 40px;
  }
  header a:hover{
    color: rgb(140, 37, 0);
  }

.tweets-container {
    display: flex;
    justify-content: space-around;
    align-content: stretch;
}

.box{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  position: fixed;
  background: rgb(255, 252, 214);
  top: 0;
  width: 30%;
  height: 100%;
  left: 70%;
}

.main {
  width: 70%;
  right: 30%;
  background:linear-gradient(to bottom,#ffffff,hsl(23, 100%, 75%));
}
.introduction{
  color: rgb(70, 70, 70)
}


footer {
  color: white;
  height: 30px;
  background-color: #4e0000;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: flex-end;
}

h2 a{
    margin-left: 1px;
    color: orange;
    text-decoration: none;
}

a{
    color: rgb(127, 25, 0);
}
.comic-image {
    width: 250px;
    height: 120px;
    margin: 3px 20px 15px 5px;
    float: left;
}

a:hover {
    color: orangered;
}


